'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'MicroAlg'
      'submenu': [
        {
          'label': 'Exécuter'
          'command': 'microalg:exec'
        }
        {
          'label': 'Cacher les résultats'
          'command': 'microalg:hide_result'
        }
      ]
    ]
  }
]
